* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    font-size: 100%;
    margin-left: 1em;
    margin-right: 1em;
    background: white;
    color: black;
}

h2, p {
    font-size: 100%;
    font-weight: normal;
}

ul, li {
    list-style: none;
}

ul {
    overflow: hidden;
/ / padding : .5 em;
}

ul li:nth-child(even) .workItem {
    text-decoration: none;
    color: #000;
    display: block;
    height: 145px;
    width: 200px;
    padding: 1em;
/ / -moz-box-shadow : 5 px 5 px 7 px rgba ( 33, 33, 33, 1 );
/ / -webkit-box-shadow : 5 px 5 px 7 px rgba ( 33, 33, 33, .7 );
/ / box-shadow : 5 px 5 px 7 px rgba ( 33, 33, 33, .7 );
    -moz-box-shadow: 0px 10px 5px #ccc;
    -webkit-box-shadow: 0px 10px 5px #ccc; /*background: #fff182*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(247, 247, 210, 1)), to(rgba(240, 242, 155, 1)));
    box-shadow: 0px 10px 5px #ccc;
    -moz-transition: -moz-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-transform: rotate(0.7deg);
}

#mainContainer {
    height: 2000px;
    width: 100%;
    background-color: #f9f9f2;
}

ul li:nth-child(odd) .workItem {
    text-decoration: none;
    color: #000; /*background: #fff182*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(247, 247, 210, 1)), to(rgba(240, 242, 155, 1)));
    display: block;
    height: 145px;
    width: 200px;
    padding: 1em;
/ / -moz-box-shadow : 5 px 5 px 7 px rgba ( 33, 33, 33, 1 );
/ / -webkit-box-shadow : 5 px 5 px 7 px rgba ( 33, 33, 33, .7 );
/ / box-shadow : 5 px 5 px 7 px rgba ( 33, 33, 33, .7 );
    -moz-box-shadow: 0px 10px 5px #ccc;
    -webkit-box-shadow: 0px 10px 5px #ccc;
    box-shadow: 0px 10px 5px #ccc;
    -moz-transition: -moz-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-transform: rotate(-0.7deg);
}

/**Warp shadow**/
ul li .workItem span {
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: -30px; /* ~equal to the height + shadow y offset + shadow blur radius */
    right: 0px;
    box-shadow: 0px -10px 5px #fff;
    -moz-box-shadow: 0px -10px 5px #fff;
    -webkit-box-shadow: 0px -10px 5px #f9f9f2;
    border-radius: 50% / 7px;
    -moz-border-radius: 50% / 7px;
    -webkit-border-radius: 200px 20px; /* webkit browsers apparently can't use a % for ellipse border radius */
}

/**
   Tape class
**/
ul li .workItem:after {
    display: block;
    content: "";
    position: absolute;
    width: 80px;
    height: 10px;
    top: -6px;
    left: 25%;
    border: 1px solid #fff;
    background: rgba(254, 254, 254, .6);
    -webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
}

.menuLabel {
    display: inline-block;
    position: relative;
    left: -34px;
    top: 9px;
    width:0px;
    color: #f9f9f2;
    font-size: 9px;
    font-weight: bold;
}

ul li {
    margin: 1.5em;
/ / float : left;
}

ul li h2 {
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 5px;
    cursor: text;
}

ul li p {
    font-family: "Reenie Beanie", arial, sans-serif;
    font-size: 150%;
}

ul li div {
    position: relative;
    top: 5px;
    cursor: move;
}

ul li .workItem:hover, ul li .workItem:focus {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7); /*-webkit-transform: scale(1.05);*/
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    position: relative;
    z-index: 5;
}

ol {
    text-align: center;
}

ol li {
    display: inline;
    padding-right: 1em;
}

ol li div {
    color: #fff;
}

.phasepanel {
    float: left;
    border: 1px #540223 solid;
    width: 295px;
    border-style: dotted;
    height: 100%;
}

/* Overlays */

/* the overlayed element */
.simple_overlay {

/* must be initially hidden */
    display: none; /* place overlay on top of other elements */
    z-index: 10000; /* styling */
    background-color: #333;

    width: 400px;
    min-height: 200px;
    border: 1px solid #666; /* CSS3 styling for latest browsers */
    -moz-box-shadow: 0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}

/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image: url(../../img/close.png);
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

/* styling for elements inside overlay */
.details {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 11px;
    color: #fff;
    width: 150px;
}

.details h3 {
    color: #aba;
    font-size: 15px;
    margin: 0 0 -10px 0;
}

#header {
    background-image: url("../images/header.png");
    height: 78px;
    background-size: 99.99%;
    width: 1190px;
    background-repeat: no-repeat;
}

.phaseHeader {
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 24px;
    display: block;
    font-family: Monaco;
    background-image: url("../images/arraow.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.search {
    float: right;
    position: relative;
    top: 40px;
    right: 8px;
    width: 150px;
    font-size: larger;
}

#productName {
    float: left;
    position: relative;
    color: white;
    top: 10px;
    right: -20px;
    font-family: 'Lobster', arial, serif;
    font-size: 40px;
}

#menuBar {
    display: inline;
    position: relative;
    top: 29px;
    left: 300px;
}

#projectsMenu {
    position: relative;
    display: inline;
}

#portfolioView {
    position: relative;
    display: inline;
}

.expandedMenu {
    display: inline;
}

.expandedSubMenu {
    display: inline;
}

.displayClass {
    display: none;
}

.menuItemBorder {
    display: inline;
    padding: 18px 0 0 5px;
    margin: 0 0 0 5px;
    -webkit-border-radius: 5px;
    border: 1px inset #4a2c0e;
}

.projectSelect {
    width: 200px;
    position: relative;
    top: -10px;
    border: 1px solid #a3b4c4;
    border-color: #636d77 #a3b4c4 #c7d2de;
    color: #333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    margin: 0;
}

.editNote {
    display: inline;
    position: relative;
    top: -10px;
    left: 198px;
    cursor: pointer;
}

.editableNote {
    padding: 0.2em;
    width: 52%;
    border-radius: 4px;
    display: none;
    background-color: #fffdde; /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(247, 247, 210, 1)), to(rgba(240, 242, 155, 1)));*/
}

.editableNoteHeader {
    position: relative;
    background-color: #faf3b3;
    height: 25px;
    vertical-align: text-bottom;
    font-size: 160%;
    font-weight: bold;
    margin-bottom: 20px;
}

.closeNote {
    position: relative;
    float: right;
    top: -10px;
    cursor: pointer;
}

/**Forms**/

/* Labels */
fieldset div label {
    color: #666;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 7px 0 0 0; /*width: 140px;*/
}

/* Input defaults */
fieldset div input,
fieldset div textarea,
fieldset div select {
    border: 1px solid #a3b4c4;
    border-color: #636d77 #a3b4c4 #c7d2de;
    color: #333;
    display: block;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    margin: 0;
}

fieldset {
    margin: 3px;
    border: 0px;
}

/* Focus */
fieldset div input:focus,
fieldset div textarea:focus,
fieldset div select:focus {
    border-color: #636d77;
}

/* Text inputs */
fieldset div input {
    padding: 6px 5px;
    width: 288px;
    border-radius: 3px;
    font-size: larger;
}

/* Select menus */
fieldset div select {
    padding: 0 0 0 3px;
    width: 291px;
    border-radius: 3px;
    font-size: larger;
}

/* Textareas */
fieldset div textarea {
    height: 89px;
    padding: 6px 5px;
    width: 288px;
}

/* File Upload */
fieldset div input[type=file] {
    background: none;
    border: inherit;
    padding: 0;
}

/* Radio buttons + checkboxes */
fieldset div ul {
    margin: 5px 0 0 0;
}

fieldset div ul li {
    margin: 0 0 5px;
    padding: 0;
}

fieldset div ul li label {
    display: inline;
    float: none;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

fieldset div ul li input {
    background: none;
    border: none;
    display: inline;
    margin: 0 5px 0 0;
    padding: 0;
    width: auto;
}

fieldset div.controls {
    margin: 25px 0 0;
    padding: 0;
}

.formControls {
    margin: 20px 10px 10px;
    padding: 0;
    float: right;
}

.storyCount {
    background-color: #f03d25 !important;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    z-index: 101;
    border: 1px solid #dd3822 !important;
    border-top: 0 !important;
    display: inline !important;
    padding: 1px 1px 0 !important;
    -webkit-border-radius: 4px !important;
    top: -180px;
    left: 220px;
}