#editableEpicStoryDlg{:style => "display:none;"}
  .editableNoteHeader
    %span.closeNote
      %img{:src => "images/close_16.png"}/
    {{storyName}}
  %form{:action => "#", :method => "get", :id=>"editableEpicStoryForm_{{_id}}"}
    %fieldset
      .flex-container
        .col-1.col-1-flex
          %div
            %label{:for => "storyName"} Story Name
            %input#storyName{:name => "storyName", :type => "text", :value => "{{storyName}}"}/
          %div
            %label{:for => "storyType"} Story Type
            %select#storyType{:name => "storyType"}
              %option test3
              %option test4
          %div
            %label{:for => "storyDescription"} Story Description
            %textarea#storyDesc{:name => "storyDesc" ,:cols => "20", :rows => "2"} {{storyDesc}}
          %div
            %label{:for => "storyDescription"} Acceptance Test
            %textarea#acceptanceTest{:name => "acceptanceTest",:cols => "20", :rows => "2"} {{acceptanceTest}}
        .col-2.col-2-flex
          %div
            %label{:for => "dueDate"} Due Date
            %input#dueDate{:type => "date"}/
          %div
            %label{:for => "assignedTo"} Assigned To
            %select#assignedTo
              %option test1
              %option test2
          %div
            %label{:for => "estimate"} Estimate
            %input#estimate{:name => "estimate", :type => "text"}/
          %div
            %label{:for => "pct_complete"} % Complete
            %input#pct_complete{:name => "pct_complete", :type => "text"}/
          %div
            %label{:for => "storyTags"} Tags
            %input#storyTags{:name => "tags", :type => "password"}/
    / Controls
    .formControls
      %button.sexybutton.sexysimple.sexyblack{:type => "reset"} Cancel
      %input#saveEpicStory.sexybutton.sexysimple.sexyyellow{:type =>"button", :value => "Save"}
      %input#deleteEpicStory.sexybutton.sexysimple.sexyred{:type =>"button", :value =>"Delete"}