#newEpicDlg{:style => "display:none;"}
  .editableNoteHeader
    %span.closeNote
      %img{:src => "images/close_16.png"}/
    New Epic Story
  %form{:id => "newEpicStoryForm_{{id}}",:action => "#", :method => "get"}
    %fieldset
      .flex-container
        .col-1.col-1-flex
          %div
            %label{:for => "epicStoryName"} Epic Story Name
            %input#storyName{:name => "storyName", :type => "text"}/
          %div
            %label{:for => "storyType"} Story Type
            %select#storyType
              %option test
          %div
            %label{:for => "storyDescription"} Epic Story Description
            %textarea#storyDesc{:name => "storyDesc", :cols => "20", :rows => "2"}
          %div
            %label{:for => "storyDescription"} Acceptance Test
            %textarea{:cols => "20", :rows => "2"}
        .col-2.col-2-flex
          -#%div
          -#  %label{:for => "dueDate"} Due Date
          -#  %input#dueDate{:type => "date"}/
          -#%div
          -#  %label{:for => "assignedTo"} Assigned To
          -#  %select#assignedTo
          -#    %option test
          -#%div
          -#  %label{:for => "estimate"} Estimate
          -#  %input#estimate{:name => "estimate", :type => "text"}/
          -#%div
          -#  %label{:for => "pct_complete"} % Complete
          -#  %input#pct_complete{:name => "pct_complete", :type => "text"}/
          -#%div
          -#  %label{:for => "storyTags"} Tags
          -#  %input#storyTags{:name => "tags", :type => "password"}/
    / Controls
    .formControls
      %button.sexybutton.sexysimple.sexyblack{:type => "reset"} Cancel
      %button#saveEpic.sexybutton.sexysimple.sexyyellow Save Epic to Back Log
      %button.sexybutton.sexysimple.sexygreen{:type => "reset"} Save Epic & Add to Queue